<h1>Editing Movement</h1>

<%= render 'form', movement: @movement %>
<div class="center">
<%= link_to 'Show', @movement ,class:'btn btn-info '%> 
<%= link_to 'Back', movements_path ,class:'btn btn-primary'%>
</div>
